
.loginPage,.RegisterPage,.ForgetPasswordPage{
height:100vh;
display: flex;
justify-content: center;
align-items: center;
background-image: url(/src/Pages/login.png);
background-position: left center;
background-size: cover;
}
.FormAction{
display: flex;
justify-content: space-between;
margin-top: 2rem;
}
.signin{
display: flex;
justify-content: center;
}
.leo{
border-radius: 1rem;
object-fit: cover;
}